@charset "UTF-8";

.input-file-padding {
	padding-bottom: 15px;
}

.panel-width {
	width: 380px;
}

.required {
	color: #FF0000;
	font-size: 80%;
	padding-left: 10px;
}

#title_count {
	color: #000000;
	fontweight: normal;
}