@charset "UTF-8";

.input-file-padding {
	padding-bottom: 15px;
}

.panel-width {
	width: 380px;
}

.required {
	color: #FF0000;
	font-size: 80%;
	padding-left: 10px;
}

#title_count {
	color: #000000;
	fontweight: normal;
}

.display {
	width: 500px;
	height: 500px;
	background-color: #FFFFFF;
	text-align: center;
	display: table-cell;
}

.thumb-box {
	width: 170px;
	height: 200px;
	background-color: #FFFFFF;
	border: solid #D3D3D3 1px;
}

.thumb {
	width: 170px;
	height: 170px;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.thumb-name {
	width: 170px;
	height: 20px;
	text-align: center;
	word-break: break-all;
}

.li-padding {
	padding-top: 10px;
}

.admin-list-box {
	display: table;
}

.admin-list-image {
	display: table-cell;
}

.admin-list-text {
	display: table-cell;
	padding-left: 30px;
}